<header class="container">
  <nav>
    <ul>
      <li>
        <strong><a routerLink="/">Recipe Demo</a></strong>
      </li>
      @if (!onSignInPage()) {
        <li><a routerLink="/create-recipe">Create recipe</a></li>
      }
    </ul>
    <ul>
      @if (authStore.currentUser(); as user) {
        <li>{{ user.email }}</li>
        <li><button class="outline" (click)="signOut()">Sign out</button></li>
      } @else if (!onSignInPage()) {
        <li><a routerLink="/signin" role="button" class="outline">Sign in</a></li>
      }
    </ul>
  </nav>
</header>
<router-outlet />
